.sakums {
    margin-top: 50px;
}
 .navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #a38987;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand { 
    color: #000 !important;
  }
  .navbar-nav li a:hover {
    color: #6d6c6c !important;
  }
  .navbar-nav li.active a {
    color: #fff !important;
    background-color: #9e9e97 !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  .open .dropdown-toggle {
    color: #fff;
    background-color: #a9a99e !important;
  }
  .dropdown-menu li a {
    color: #000 !important;
  }
  .dropdown-menu li a:hover {
    background-color: #000 !important;
  }